@font-face {
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: normal;
  src: url('../font/UxumGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: bold;
  src: url('../font/UxumGrotesque-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Uxum Grotesque';
  font-style: italic;
  font-weight: normal;
  src: url('../font/UxumGrotesqueItalic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Clearface ITC Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../font/ClearfaceITCPro-Bold.woff2') format('woff2'), url('../font/ClearfaceITCPro-Bold.woff') format('woff');
}